.header {
    background-color: #3127e3;
    padding: 16px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    min-width: 275px;
}