.container {
  display: grid;
  grid-template-columns: repeat(2, 50% );
  align-items: center;
  gap: 10px;
  justify-items: center;
  padding: 30px 50px;
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.pokemon-details-placeholder {
  height: 400px;
}

.pokemon-card-container {
  width: 420px;
}
.empty-grid{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-button-container {
  text-align: center;
  margin-top: 20px;
}

.load-more-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.load-more-button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }

  .pokemon-card-container {
    width: 100%;
  }
}
